.footer {
    width: 100%;
    height: 150px;
    background-color: #ebf5ec;
    color: #000;
}

.footer img{
    width: 100px;
    margin-left: 60%;
}

.menu{
    margin-left: 20%;
}

.menu a{
    display: block;
    text-decoration: none;
}

.column3 {
    float: left;
    width: 33.33%;
}