body {
    background-color: #ebf5ec;
    color: #000;
    margin: 0;
    padding: 0;
}

.center{
    display: flex;
    width: 80%;
    margin: auto;
}

.btn{
    color: #ebf5ec;
    padding: 10px;
    border: none;
    border-radius: 20px;
    background-color: #e51131;
}

/*HEADER
.header{
    background-color: #e51131;
    position: fixed;
    top: 0;
    width: 100%;
}

.header ul{
    text-align: center;
}

.header li{
    display: inline-block;
    margin: 0 20px;
}
*/

/*FOOTER*/
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ebf5ec;
    color: #e51131;
}